{% extends 'base.html' %}

{% block title %}
Войти
{% endblock %}

{% block content %}
<div class="background">
    <div class="blur">
        <div class="layer1">
        <form>
            <div class="text-white">
                <div class="mb-3">
                    <label for="exampleInputLogin1" class="form-label">Логин</label>
                    <input type="login" class="form-control" id="exampleInputLogin1">
                </div>
                    <div class="mb-3">
                 <label for="exampleInputEmail1" class="form-label">E-mail</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Пароль</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
                </div>
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}