{% extends 'base.html' %}

{% block title %}
Регистрация | drgfanforum.ru
{% endblock %}

{% block content %}
<div class="background1">
    <div class="blur">
        <div class="layer1">
        <form>
            <div class="text-white">
                <div class="mb-3">
                    <label for="exampleInputNickname1" class="form-label">Введите отображаемое имя</label>
                    <input type="nickname" class="form-control" id="exampleInputNickname1">
                </div>
                <a href="{% url '...' %}" type="submit" class="btn btn-primary">Выбрать</a>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}