{% extends 'base.html' %}

{% block title %}
Регистрация | drgfanforum.ru
{% endblock %}

{% block content %}
    <div class="background1">
        <div class="blur">
            <div class="layer1">
            <form>
                <div class="text-white">
                    <div class="mb-3">
                        <label for="exampleInputLogin1" class="form-label">Логин*</label>
                        <input type="login" class="form-control" id="exampleInputLogin1">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Пароль*</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <p>* - обязательные поля</p>
                    <a href="{% url 'nickname' %}" type="submit" class="btn btn-primary">Зарегестрироваться</a>
                    <a href="{% url 'login' %}" type="submit" class="btn btn-primary">Уже зарегестрирован</a>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}