{% extends 'base.html' %}

{% block title %}
Регистрация | drgfanforum.ru
{% endblock %}

{% block content %}
    <div class="background">
        <div class="blur">
            <div class="layer1">
            <form>
                <div class="text-white">
                    <div class="mb-3">
                        <label for="exampleInputLogin1" class="form-label">Отображаемое имя*</label>
                        <input type="login" class="form-control" id="exampleInputLogin1">
                    </div>
                        <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">E-mail*</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     <div id="emailHelp" class="form--text">Мы никогда не передадим вашу электронную почту кому-либо.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Пароль*</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <p>* - обязательные поля</p>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}